.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*ipek*/
*{
  margin: 0;
  padding: 0;
  font-family: SF Pro Display,sans-serif;
}


.main-menu{
  background-color: #E4F7EF;
  position: sticky;
  display: flex;
  width: 80%;
  margin: auto;
}

.main-menu .logo {
  width: 25%;
  padding: 20px;
  margin-left: 50px;
  display: flex;
}

.main-menu .menu {
  width: 75%;
  display: flex;
  margin-right: 50px;
  justify-content: flex-end;
  list-style: none;
  padding: 30px;
}

.main-menu .menu .menu-link{
  display: contents;
}

.main-menu .menu .menu-link a{
  padding: 10px 24px;
  display: flex;
  font-size: 16px;
  align-items: center;
  font-weight: 600;
  line-height: 19.06px;
  text-decoration: none;
  color: rgb(0 0 0 / 64%);
}

.main-menu .menu .menu-link a:hover .link-underline{
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: rgb(56, 140, 103);
  bottom: 0px;
}

.main-menu .menu .nav-button {
  background: #388c67;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0 5px 15px rgb(13 23 19 / 15%);
  padding: 10px 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.main-menu .menu .nav-button:hover {
  background: #214c3a;
}

.main-menu .menu .nav-button a {
  color: #fff;
  text-decoration: none;
}

.section-one{
  margin-left: auto;
  padding-top: 60px;
  margin-right: auto;
  padding-bottom: 60px;
}

.section-one h1 {
  margin: auto;
  text-align: center;
  color: #2B3D35;
  font-size: 42px;
  line-height: 50px;
}

.section-one h4 {
  color: #364D42;
  font-size: 20px;
  margin-top: 32px;
  text-align: center;
  font-weight: 400;
  line-height: 26px;
}

.section-two{
  margin-left: auto;
  padding-top: 60px;
  margin-right: auto;
  padding-bottom: 60px;
  text-align: center;
}

.section-two h2 {
  margin: auto;
  color: #2B3D35;
  font-size: 30px;
  font-weight: 600;
}

.section-two h3 {
  margin: auto;
  color: #2B3D35;
  font-size: 20px;
  margin-top: 36px;
  font-weight: 500;
  line-height: 32px;
}

.borderIn{        
  width: 50%;
  border: 1px solid rgba(54, 77, 66, 0.4);
  display: flex;
  padding: 30px 60px;
  justify-content: space-between;
  margin: auto;
}

.boxHR{
  display: flex;
}

.boxHR hr{
  height: 100%;
}

.box1{ 
  display: flex;
  flex-direction: column;
}

.box1 h3{
  color: #2B3D35 !important; 
  font-size: 32px !important;
  font-weight: 600 !important;
  line-height: 38,19px !important;
}

.box1 p{
  color: #2B3D35 !important;
  font-size: 20px !important;
  max-width: 500px !important;
  margin-top: 10px !important;
  font-weight: 500 !important;
  line-height: 26px !important;
}

.box2{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.box2 h4{    
  color: #388C67;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  line-height: 28px;
}

.box2 p{
  color: #2B3D35;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  line-height: 20px;
}


.box3{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.box3 h4{    
  color: #388C67;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  line-height: 28px;
}

.box3 p{
  color: #2B3D35;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  line-height: 20px;
}



.box4{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.box4 h4{    
  color: #388C67;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  line-height: 28px;
}

.box4 p{
  color: #2B3D35;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  line-height: 20px;
}

.box5{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.box5 h4{    
  color: #388C67;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  line-height: 28px;
}

.box5 p{
  color: #2B3D35;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  line-height: 20px;
}

.secoBox{
  display: flex;
   width:50%;
    margin: auto;
}

.box6{
  display: flex;
                    flex-direction: column;
                width:50%
}

.col12{
  display: flex;
                        align-items: center
}

.col12 input{
  width: 6%;height: 30px;
}

.dikKutu{
    width: 100%;
                    border: 1px solid rgba(54, 77, 66, 0.4);
                    padding: 24px;
}

.yeniKutu{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.yeniKutu h4{
  color: #388C67;
    font-size: 20px;
    margin-top: 16px;
    font-weight: 600;
    line-height: 28px;
}

.yeniKutu p{
  color: #2B3D35;
font-size: 14px;
font-weight: 400;
line-height: 20px;
margin-bottom: 16px;
}


/*ipek css*/
*{
  margin: 0;
  padding: 0;
  font-family: SF Pro Display,sans-serif;
}


.main-menu{
  background-color: #E4F7EF;
  position: sticky;
  display: flex;
}

.main-menu .logo {
  width: 25%;
  padding: 20px;
  margin-left: 50px;
  display: flex;
}

.main-menu .menu {
  width: 75%;
  display: flex;
  margin-right: 50px;
  justify-content: flex-end;
  list-style: none;
  padding: 30px;
}

.main-menu .menu .menu-link{
  display: contents;
}

.main-menu .menu .menu-link a{
  padding: 10px 24px;
  display: flex;
  font-size: 16px;
  align-items: center;
  font-weight: 600;
  line-height: 19.06px;
  text-decoration: none;
  color: rgb(0 0 0 / 64%);
}

.main-menu .menu .menu-link a:hover .link-underline{
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: rgb(56, 140, 103);
  bottom: 0px;
}

.main-menu .menu .nav-button {
  background: #388c67;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0 5px 15px rgb(13 23 19 / 15%);
  padding: 10px 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.main-menu .menu .nav-button:hover {
  background: #214c3a;
}

.main-menu .menu .nav-button a {
  color: #fff;
  text-decoration: none;
}

.section-one{
  margin-left: auto;
  padding-top: 60px;
  margin-right: auto;
  padding-bottom: 60px;
}

.section-one h1 {
  margin: auto;
  text-align: center;
  color: #2B3D35;
  font-size: 42px;
  line-height: 50px;
}

.section-one h4 {
  color: #364D42;
  font-size: 20px;
  margin-top: 32px;
  text-align: center;
  font-weight: 400;
  line-height: 26px;
}

.section-two{
  margin-left: auto;
  padding-top: 60px;
  margin-right: auto;
  padding-bottom: 60px;
  text-align: center;
}

.section-two h2 {
  margin: auto;
  color: #2B3D35;
  font-size: 30px;
  font-weight: 600;
}

.section-two h3 {
  margin: auto;
  color: #2B3D35;
  font-size: 20px;
  margin-top: 36px;
  font-weight: 500;
  line-height: 32px;
}

.section-box{
  display: flex;
  margin: auto;
  width: 40%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-box .boxes{
  width: 25%;
}

.section-box .boxes .svg-style{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 8px;
}

.section-box .boxes .svg-style div {
  width: 160px;
  border: 2px solid #E4F7EF;
  cursor: pointer;
  height: 160px;
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-box .boxes .svg-style div:active {
  width: 160px;
  border: 8px solid #388C67;
  cursor: pointer;
  height: 160px;
  border-radius: 90px;
  background-color: #F7FCFA;
  display: flex;
  align-items: center;
  justify-content: center;
}


.section-box .boxes .svg-style div > img {
  height: 55px;
}

.section-box .boxes h3{
  color: #2B3D35;
  cursor: pointer;
  opacity: 0.6;
  font-size: 24px;
  margin-top: 18px;
  text-align: center;
  font-weight: 600;
  line-height: 24px;
}

.section-box .boxes h4{
  color: #364D42;
  cursor: pointer;
  opacity: 0.6;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  font-weight: 400;
  line-height: 22px;
}

.ebond{
  width: 40%;
  margin: auto;
}
.isShowing{
  width: 50%;
  margin:auto
}
.isShowing button{    
  color: #388C67;
  width: 50%;
  height: 44px;
  font-size: 18px;
  margin-top: 24px;
  font-weight: 500;
  line-height: 20px;
  border-color: #388C67;
  letter-spacing: 1px;
  background-color: white;
  border-radius: 15px;
  
}

.isShowing p{
  color: #364D42;
    font-size: 12px;
    margin-top: 16px;
    text-align: center;
    font-weight: 400;
    line-height: 16px;
}